AD_SERVER_PRIMARY=192.168.1.10
AD_SERVER_SECONDARY=
AD_DOMAIN=company.local
AD_BASE_DN=DC=company,DC=local
AD_TARGET_OU=DC=company,DC=local
AD_SERVICE_ACCOUNT=svc-admanager@company.local
AD_SERVICE_PASSWORD=CHANGE_ME
AD_USE_LDAPS=true
AD_PORT=636
SECRET_KEY=GENERATE_WITH_python_-c_import_secrets_print_secrets.token_hex_64
APP_HOST=0.0.0.0
APP_PORT=8443